[server]
ServerPort=8005


[baidu]
host = 192.168.2.137
port = 3306
db_name = baidu
user = root
password = python123


# 配置中没有写库的名字，这样更加灵活
[notdbMysql]
host = 192.168.1.137
port = 3306
user = root
password = python123


# 日志路径
[log]
logpath = /opt/code/my_code/tornado_baidu
logname = aaa.log


# 索引文件路径,注意要有
[indexFilePath]
filepath = /data/index


